@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  display:flex;
  align-items: center;
  justify-content: center;
}

html,
body {
    height: 100%;
}

button {
  border:solid black 3px;
  margin: 5px;
  width:90px;
  height:80px;
  border-radius: 5px;
  font-family: Roboto, sans-serif;
  font-weight: 530;
  font-size: 24px;
}

.calculator-wrapper {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  max-height: 700px;
  background-color: #272932;
  border:solid #272932 3px;
}

.button-area {
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
}

.answer-area{
  height: 80px;
  width: 390px;
  background-color: #828489;
  border:solid black 5px;
  font-family: Roboto, sans-serif;
  font-size: 50px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.not-number {
  background-color: #ff66ff;
}

#lightup-not-number{
  background-color: #ffb3ff;
}

.number {
  background-color: #9900ff;
}

#lightup-number{
  background-color: #e0b3ff;
}

.operator {
  background-color: #ff6600;
}

#lightup-operator{
  background-color: #ffd1b3;
}

.zero{
  flex-grow:2;
}
